/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 800px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.social-container {
  position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -190px;
	margin-top: -50px;
	width: 380px;
	height: 100px;
}

.social-container .links {
  margin-bottom: 40px;
	text-align: center;
}

.social-container .links a {
  margin: 0 20px;
	color: #ccc;
	text-decoration: none;
	font-size: 34px;
	font-weight: bold;
	text-shadow: 0px 2px 3px #fff;
}

.social-container .links a:hover {
	color: #ED452A;
}
